
<div class="panel panel-default">
    <div class="panel-head" style="margin-left: 450px;margin-bottom: 20px;color: rgb(16, 6, 44)"><h2>Adding a new lab</h2> </div>
    <div class="panel-body">
      <form>
     
      <div class="form-group">
        <label for="venue">Lab name</label>
        <input type="text" class="form-control" id="venue" >
      </div>
     
      
      <div class="form-group">
        <label for="correspondantId">Building</label>
        <input type="text" class="form-control" id="correspondantId" >
      </div>
      <div class="form-group">
        <label for="correspondantId">Capacity</label>
        <input type="text" class="form-control" id="correspondantId" >
      </div>
    
      <button type="submit" style="color:#01080a;" class="btn btn-success">Add</button>
      <a  class="btn btn-default"> Cancel</a>
  </form> 	
  
  </div>
  </div>
