
<div class="panel panel-default">
	<div class="panel-heading">
	
	</div>
	<div class="panel-body">
		<table class="table table-striped">
			<thead>
			<tr>
			  <th>Lab name</th>
			  <th>Building</th>
			  <th>Capacity</th>
			  <th>Action</th>
			</tr>
			</thead>
			<tbody>
			<tr *ngFor ="let item of this.labdata">
			  <td>{{ item.lab }}</td>
			  <td>{{ item.building }}</td>
			  <td>{{ item.capacity }}</td>

			  <td> 
			
       <a  class="btn btn-success" > Update </a>
       <a  class="btn btn-danger" style="margin-left: 15px" (click)="deleteIt(item)" > Delete </a>
				
			  </td>
			</tr>
			</tbody>
		</table>		
    <div>
<div>